* {
    margin: 0%;
    padding: 0%;
}
/*
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*/

@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');


body {
    background-color: #282728;

}

/*

@media screen and (max-width: 1000px) {

    body {
        background-color: aquamarine;
    
    }
    
}
*/
/*
header {
    background-color: #1f1f1f;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
 

}
*/
/*
ul {
    display: inline-block;
}

li {
    display: inline-block;
    color: #f0f0f0;
    font-family: 'Bebas Neue', sans-serif;
}
*/

header form {
    display: inline-block;
}

a {
    text-decoration: none;
}

a:hover {
    color:#e40647
}
/* etiqueta en bootstrap para el boton de buscar .btn-outline-success {

*/

/* Navegador */

.navbar-logo {
    height: 60px;
}
.container-fluid {
    background-color: #282728;
}

.navbar {
    --bs-navbar-padding-y: 0; 
    margin-bottom: 10px;
}

/* .navbar para cambiar color del hover de los link del nav*/


.nav-link  {
    color: #f7f8f8;
}

/*
.ingresa {
    border-style:solid;
    border-radius: 10%;
    border-color: #e40647;
}
*/


.btn-outline-success {
    color: #f7f8f8; 
    border-color: #e40647;
    background-color: #e40647;
    margin-right: 0rem;
    
}

.me-autob {
    margin-right: 5px;
}


/* .me-2 para modificar margen del form buscar */ 


.img-evento {
    width: 100%;
}

.titulos-formularios {
    font-family: 'Manjari', sans-serif;
    color: #f7f8f8;
    font-size: large;
}

.titulos {
    font-family: 'Manjari', sans-serif;
    color: #f7f8f8;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.iconos {
    height: 20px;
    
}

.redes {
    height: 40px;
}

.contacto {
    font-family: 'Manjari', sans-serif;
    color: #f7f8f8;
    text-align: center;
}

.contacto-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}




/*
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #282728;
    width: 100%;
    margin-top: 20px;
  
}
*/

.footer {
    font-family: 'Manjari', sans-serif;
    color: #f7f8f8;
}


#footer-pages {
    margin-left: 20px;
    grid-area: footer-pages;
    justify-self:start;
    align-self: center;

}
#footer-social{
    margin-right: 20px;
    grid-area: footer-social;
    justify-self: end;
    align-self: center;
}

#footer-derechos {
   
    color: rgb(247, 248, 248);
    font-family: 'Manjari', sans-serif;
    justify-self: center;
    grid-area: footer-derechos;
    margin-top: 10px;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas:
    "footer-pages footer-social"
    "footer-derechos footer-derechos"
    
    ;
    grid-area: footer;  
    margin-top: 20px;
    
}


h3 {
    font-size: small;
    color: #f7f8f8;
    font-family: 'Manjari', sans-serif;
    text-align: center;
   
}


article {
    display: inline-block;
}

.parrafo {
    font-family: 'Manjari', sans-serif;
    text-align: center;
    font-weight: bold;
    color:rgb(240, 134, 216)

}

.informacion {
    font-family: 'Manjari', sans-serif;
    color:rgb(240, 134, 216)

}

#busqueda {
    color: rgb(47, 160, 141);
    font-family: 'Manjari', sans-serif;
}

#resultados {
    color: rgb(47, 160, 141);
    font-family: 'Manjari', sans-serif;
    font-size: 10px;
}

.ingresa {
    color: #f7f8f8;
    font-family: 'Manjari', sans-serif;
    
}

.registrate {
    
    
    color: #f7f8f8;
    font-family: 'Manjari', sans-serif;
}

.mision-vision {
     font-family: 'Manjari', sans-serif;
     color: rgb(172, 0, 191);
     text-align: center;
}

#datoscompra {
    color: rgb(47, 160, 141);
    font-family: 'Manjari', sans-serif;
}

#eventocompra {
    color: rgb(47, 160, 141);
    font-family: 'Manjari', sans-serif;
}


/*
#index {
    display: grid;
    grid-template-columns: 100% ;
    grid-template-rows:auto auto auto;
    grid-template-areas: 
    "header"
    "section"
    "footer"
    ;
}
*/
header {
    grid-area: header;
}

section{
    grid-area: section;
}

#registro {
    display: grid;
    grid-template-columns: 100% ;
    grid-template-rows:100px 500px 50px;
    grid-template-areas: 
    "header"
    "registrate"
    "footer"

    ;
}

.registrate {
    grid-area: registrate;
}




#login {
    display: grid;
    grid-template-columns: 100% ;
    grid-template-rows:100px 2% auto 2% auto 50px;
    grid-template-areas: 
    "header"
    "titulo1"
    "seccion1"
    "titulo2"
    "seccion2"
    "footer"
    ;
}

#busca {
    display: grid;
    grid-template-columns: 100% ;
    grid-template-rows:100px 2% auto 2% auto 50px;
    grid-template-areas: 
    "header"
    "titulo1"
    "seccion1"
    "titulo2"
    "seccion2"
    "footer"
    ;
}

#contacto {
    display: grid;
    grid-template-columns: 100% ;
    grid-template-rows:100px 2% auto 2% auto 50px;
    grid-template-areas: 
    "header"
    "titulo1"
    "seccion1"
    "titulo2"
    "seccion2"
    "footer"
    ;
}

#compra {
    display: grid;
    grid-template-columns: 100% ;
    grid-template-rows:100px 2% auto 2% auto 50px;
    grid-template-areas: 
    "header"
    "titulo1"
    "seccion1"
    "titulo2"
    "seccion2"
    "footer"
    ;
}

#servicios {
    display: grid;
    grid-template-columns: 100% ;
    grid-template-rows:100px 2% auto 2% auto 50px;
    grid-template-areas: 
    "header"
    "titulo1"
    "seccion1"
    "titulo2"
    "seccion2"
    "footer"
    ;
}

/*
.img-evento {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;  
}

*/