body{
    display: flex;
    flex-direction: column;
    height:600px;
    padding: 1em;
}

main{
    display:flex;
    height: 300px;
}

article, nav, aside, header, footer { 
    padding: 1rem;
    margin: 1px;
}
header, footer{
    background-color:#9df4e2;
}

header{
    height: 60px;
}

nav, aside{
    background-color: pink;
    width:25%
}

article{
    background-color: #83aefb;
    width: 50%;
}
